@use "../settings/variables" as v;

.c-hero {
  align-items: center;
  display: flex;
  gap: v.$hero-gap;
  justify-content: center;
  min-height: v.$hero-min-height;
  position: relative;
  background-position: -600px;

  &-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: v.$hero-inner-gap;
  }

  & .c-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
