@use "sass:map";
@use "../settings/variables" as v;

.c-site-header {
  height: v.$header-height;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;

  & .c-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .c-logo {
      max-width: v.$logo-max-width;
    }
  }

  & .c-toggle {
    align-items: center;
    appearance: none;
    aspect-ratio: 1 / 1;
    background: none;
    border-color: v.$toggle-border-color;
    border-radius: v.$toggle-border-radius;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: v.$toggle-height;
    justify-content: center;
    padding: 0;
    width: v.$toggle-width;
  }

  & .c-dialog-nav {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    z-index: 999;

    &.open {
      opacity: 1;
      transition: all 0.3s ease;
      visibility: visible;
    }
  }
}
