@use "sass:map";
@use "../settings/variables" as s-v;

.c-site-header {
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;

  & .c-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .c-logo {
      max-width: s-v.$logo-max-width;
    }

    & .c-toggle {
      align-items: center;
      appearance: none;
      aspect-ratio: 1 / 1;
      background: none;
      //border-color: map.get(s-v.$toggle, "border-color");
      //border-radius: map.get(s-v.$toggle, "border-radius");
      border-style: solid;
      border-width: 1px;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      //      height: map.get(s-v.$toggle, "size");
      justify-content: center;
      //      padding: map.get(s-v.$toggle, "padding");
      //      width: map.get(s-v.$toggle, "size");
      @include s-v.get-variables();

      & .line {
        background-color: var(--gold-900);
        height: 2px;
        width: 100%;
      }
    }
  }

  & .c-dialog-nav {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    z-index: 999;

    &.open {
      transform: translateX(0);
    }
  }
}
