@use "../settings/tokens" as t;
@use "../settings/colors" as c;
@use "../settings/radius" as r;

:root {
  /* Colors */
  @each $name, $map in c.$colors {
    @each $key, $color in $map {
      --#{$name}-#{$key}: #{$color};
    }
  }

  /* Radius */
  @each $key, $radius in r.$radius {
    --radius-#{$key}: #{$radius};
  }

  /* Basic Unit */
  --spacing: #{t.$spacing};

  /* Objects: Layout Content */
  --content-padding-inline: calc(var(--spacing) * 6); // 16px

  /* Component: Site Header */
  --header-height: calc(var(--spacing) * 24); // 96px

  /* Component: Logo */
  --logo-max-width: calc(var(--spacing) * 45); // 180px

  /* Component: Toggle Button */
  --toggle-border-color: var(--gold-900);
  --toggle-border-radius: var(--radius-xs);
  --toggle-size: calc(var(--spacing) * 10); // 40px;

  /* Component: Icon */
  --icon-size: calc(var(--spacing) * 6); // 24px
}
