@use "sass:map";
@use "../settings/typography" as t;

@each $key, $font-size in t.$font-sizes {
  $line-height: map.get(t.$line-heights, $key);
  .u-text-#{$key} {
    font-size: var(--text-#{$key}, $font-size) !important;
    line-height: var(--line-height-#{$key}, $line-height) !important;
  }
}
