$blue: (
  "400": #c2d5e7,
  "900": #34394d,
);

$gold: (
  "900": #cfa579,
);

$dark: (
  "400": #2e2c2c,
);

$light: (
  "400": #ffffff,
);

$colors: (
  "blue": $blue,
  "gold": $gold,
  "dark": $dark,
  "light": $light,
);
