@font-face {
  font-family: "Baskervville Regular";
  src: url("https://db.onlinewebfonts.com/t/bb8dd84ef3c0f978b817e2b8c399cac0.eot");
  src: url("https://db.onlinewebfonts.com/t/bb8dd84ef3c0f978b817e2b8c399cac0.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bb8dd84ef3c0f978b817e2b8c399cac0.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/bb8dd84ef3c0f978b817e2b8c399cac0.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/bb8dd84ef3c0f978b817e2b8c399cac0.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/bb8dd84ef3c0f978b817e2b8c399cac0.svg#Baskervville Regular")
      format("svg");
}

@font-face {
  font-family: "Times New Roman";
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot");
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.svg#Times New Roman")
      format("svg");
}
