$font-sizes: (
  "xs": 0.75rem,
  "sm": 0.875rem,
  "md": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
  "6xl": 3.75rem,
  "7xl": 4.5rem,
  "8xl": 6rem,
  "9xl": 8rem,
);

$line-heights: (
  "xs": calc(1 / 0.75),
  "sm": calc(1.25 / 0.875),
  "md": calc(1.5 / 1),
  "lg": calc(1.75 / 1.125),
  "xl": calc(1.75 / 1.25),
  "2xl": calc(2 / 1.5),
  "3xl": calc(2.25 / 1.875),
  "4xl": calc(2.5 / 2.25),
  "5xl": 1,
  "6xl": 1,
  "7xl": 1,
  "8xl": 1,
  "9xl": 1,
);

$font-weights: (
  "thin": 100,
  "medium": 400,
  "semibold": 600,
  "bold": 700,
);
