@use "sass:map";
@use "./tokens" as t;
@use "./colors" as c;
@use "./radius" as r;

/* Objects: Layout Content */
$content-padding-inline: var(--content-padding-inline, t.$spacing * 6) !default;

/* Component: Site Header */
$header-height: var(--header-height, t.$spacing * 24) !default;

/* Component: Logo */
$logo-max-width: var(--logo-max-width, t.$spacing * 45) !default;

/* Component: Toggle Button */
$toggle-border-color: var(--toggle-border-color, map.get(c.$gold, "900"));
$toggle-border-radius: var(--toggle-border-radius, map.get(r.$radius, "xs"));
$toggle-height: var(--toggle-size, t.$spacing * 10);
$toggle-width: var(--toggle-size, t.$spacing * 10);

/* Component: Icon */
$icon-height: var(--icon-size, t.$spacing * 6);
$icon-width: var(--icon-size, t.$spacing * 6);